h1 #{$i18n.slide2.subSlide3.title}
h3 #{$i18n.slide2.subSlide3.description}.
p
    small.
        #{$i18n.slide2.subSlide3.left.description}
p
    small.
        #{$i18n.slide2.subSlide3.right.description}