h1 #{$i18n.slide2.subSlide1.title}
h3 #{$i18n.slide2.subSlide1.description}.
p
    small.
        #{$i18n.slide2.subSlide1.left.description}
p
    small.
        #{$i18n.slide2.subSlide1.right.description}