h1 #{$i18n.slide3.subSlide2.title}
h3 #{$i18n.slide3.subSlide2.description}.
p
    small.
        #{$i18n.slide3.subSlide2.left.description}
p
    small.
        #{$i18n.slide3.subSlide2.right.description}